.contenedor-principal{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contenedor {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 700px;
  max-width: 1200px;
}

.cuadro-contenedor {
  width: 300px; 
  height: 230px;
  background-color: #424141;
  color: #f9f9f9;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px #b01313;;
  transition: transform 0.5s; /* Transición suave */
  z-index: 1;
}

.cuadro-contenedor.destacado {
  transform: scale(1.1); /* Aumentar el tamaño del cuadro destacado */
  z-index: 2;
}

.informacionAdicional {
  display: none;
  width: 550px;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f8f1f1;
  color: #0d0d0d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}

.cuadro-contenedor.destacado .informacionAdicional {
  display: block;
}

.cuadrosAdicionales {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  max-width: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cuadroAdicional {
  flex-basis: calc(25% - 10px); /* 25% para mostrar 4 elementos por fila */
  height: 100px;
  background-color: rgb(24, 24, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-lab{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}